<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yasir.ecom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.yasir.ecom.ClassifiedAdsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yasir.ecom.Activities.AddItem"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yasir.ecom.Activities.SubmitAd"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yasir.ecom.Activities.SuccessPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yasir.ecom.Activities.AdPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://recipe-app.com/recipe" -->
                <data
                    android:host="mobilemart.pk"
                    android:pathPrefix="/ad"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yasir.ecom.Activities.Register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yasir.ecom.Activities.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yasir.ecom.Activities.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yasir.ecom.Activities.AdPictures"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yasir.ecom.Category.ChildCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yasir.ecom.Category.MainCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yasir.ecom.Activities.SearchResults"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yasir.ecom.Activities.Filters"
            android:label="@string/title_activity_filters"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.yasir.ecom.Activities.MainActivity"
            android:label="@string/title_activity_home_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yasir.ecom.Activities.ViewPictures"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.yasir.ecom.Activities.MoreAdsByUser" />
        <activity android:name="com.yasir.ecom.Activities.ListOfAds" />
        <activity
            android:name="com.yasir.ecom.Activities.MyAds"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.yasir.ecom.Utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.yasir.ecom.Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.yasir.ecom.Activities.GPSTrackerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yasir.ecom.Activities.NoResultsFound"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yasir.ecom.Activities.EditProfileInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.yasir.ecom.Activities.FavouriteAds" />
        <activity
            android:name="com.yasir.ecom.Activities.ReportAd"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.yasir.ecom.Activities.Help"></activity>
    </application>

</manifest>